* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  z-index: 0;
}

div.rc-slider {
  height: 54px;
  padding: 45px 0 0;
}

div.rc-slider-rail {
  background-color: #fdff00;
  border: 2px solid #242424;
  height: 18px;
}

div.rc-slider-track {
  height: 18px;
  border: 2px solid #242424;
  background-color: #fdff00;
}

div.rc-slider-handle {
  width: 20px;
  height: 20px;
  border: solid 2px #fdff00;
  background-color: #242424;
  -webkit-box-shadow: 1px 1px 3px #242424;
          box-shadow: 1px 1px 3px #242424;
}

div.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border: solid 2px #fdff00;
  -webkit-box-shadow: 1px 1px 3px #242424;
          box-shadow: 1px 1px 3px #242424;
}

div.rc-slider-handle-click-focused:focus {
  border: solid 2px #fdff00;
}

div.rc-slider-handle:hover {
  border: solid 2px #fdff00;
}

div.rc-slider-handle:active {
  border: solid 2px #fdff00;
}

div.rc-slider-mark {
  position: absolute;
  bottom: 25px;
  left: -3px;
  width: 400px;
  font-size: 12px;
}

@media (min-width: 100px) {
  div.rc-slider-mark {
    left: -3px;
    width: 250px;
    font-size: 14px;
    bottom: 25px;
  }
}

@media (min-width: 375px) {
  div.rc-slider-mark {
    bottom: 22px;
    width: 270px;
    font-size: 14px;
  }
}

@media (min-width: 413px) {
  div.rc-slider-mark {
    left: 7px;
    width: 340px;
    font-size: 14px;
  }
}

@media (min-width: 490px) {
  div.rc-slider-mark {
    bottom: 22px;
    left: 4px;
    width: 390px;
    font-size: 14px;
  }
}

div.rc-slider-step {
  height: 18px;
}

div.rc-slider-dot {
  position: absolute;
  bottom: 4px;
  margin-left: -5px;
  width: 8px;
  height: 8px;
  border: 2px solid #24242400;
  background-color: #24242400;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}

div.rc-slider-dot-active {
  border-color: #ffff0000;
  background-color: #ffff0000;
}

body {
  background: #505c7c;
  font-family: "Roboto";
  padding: 2rem 2rem 2rem 2rem;
  width: 100vw;
  height: 100vh;
}

.batslider-container {
  margin: 0 auto;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.batslider-container2 {
  max-width: 575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.batslider-title {
  background: #242424;
  color: #fdff00;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.198rem;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  padding: 8px 0 8px;
  top: 0;
  right: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 1;
}

.batslider-header {
  rotate: -2deg;
  background: #242424;
  color: #fdff00;
  font-size: 1.6rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  margin: 15px auto;
  max-width: 400px;
  padding: 8px;
  text-transform: uppercase;
  text-align: center;
}

.batslider-content {
  color: #dfdddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  max-width: 400px;
  margin: 0 auto;
  text-align: justify;
}

@media (min-width: 300px) {
  .batslider-content {
    font-size: 0.95rem;
  }
}

@media (min-width: 400px) {
  .batslider-content {
    font-size: 1rem;
  }
}

.batslider-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 1px 1px 8px #242424;
          box-shadow: 1px 1px 8px #242424;
}

@media (min-width: 320px) {
  .batslider-img {
    height: 350px;
  }
}

@media (min-width: 414px) {
  .batslider-img {
    height: 400px;
  }
}

@media (min-width: 700px) {
  .batslider-img {
    height: 480px;
    min-width: 340px;
    max-width: 360px;
  }
}
/*# sourceMappingURL=index.css.map */